.box {
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		min-width: 300vw;
		min-height: 300vw;
		background-color: #393e46;
		animation-name: rotate;
		animation: rotate 3.5s 1s linear alternate;
		animation-iteration-count: 1;
		bottom: -8vh;
		border-radius: 45%;
		transform: translate(-50%, 0) rotateZ(0deg);
	}
}

@media (min-width: 768px) {
	.box::after {
		animation-duration: 6.5s;
	}
}

@keyframes rotate {
	0% {
		transform: translate(-50%, 0) rotateZ(0deg);
	}
	33% {
		transform: translate(-50%, -30%) rotateZ(270deg);
	}
	100% {
		transform: translate(-50%, -100%) rotateZ(360deg);
	}
}
