.fade {
	pointer-events: none;
	transform: translateY(-120%);
	transition: 2.5s;
}

.box {
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		min-width: 300vw;
		min-height: 300vw;
		background-color: #393e46;
		animation-name: rotate;
		animation: aniRotate 8s infinite alternate;
		bottom: 8vh;
		border-radius: 45%;
		transform: translate(-50%, 0) rotateZ(0deg);
	}
}

@media (min-width: 768px) {
	.box::after {
		animation-duration: 6.5s;
	}
}

@keyframes aniRotate {
	0% {
		transform: translate(-50%, 0) rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, 0%) rotateZ(270deg);
	}
}
