@import "tailwindcss";

:root {
	--brand-dark-gray: #222831;
	--brand-light-gray: #393e46;
	--brand-dark-beige: #948979;
	--brand-light-beige: #dfd0b8;
}

@theme inline {
	--color-dark-gray: var(--brand-dark-gray);
	--color-light-gray: var(--brand-light-gray);
	--color-dark-beige: var(--brand-dark-beige);
	--color-light-beige: var(--brand-light-beige);
}

/* @utility animate-custom-fade {
	animation: fade-up 5s ease-out forwards;
} */

@keyframes fade-up {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
body {
	background: var(--brand-dark-gray);
}
